.App {
  width: auto;
}

.margin{
  margin-left: 20px;
}

table{
  margin-bottom: 10px;
  width: 100%;
  border-collapse: collapse;
}

table, th, td{
  border: 1px solid black
}

th, td{
  padding: 5px;
  vertical-align: middle;
}

th.gray, tr.gray{
  background-color: lightgrey;
  font-weight: 800;
}

div.stampDiv{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}

img.stamp{
  width: 200px;
  height: 100px;
}

@media print {
  div.break {page-break-after: always;}
}